.header__container {
  background-color: #1c4738e2 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 1rem;
}

.header__item {
  list-style: none;
  padding-top: 0.3rem;
    a {
    color: white !important;
    display: block;
    text-decoration: none;
  }
  a:hover {
    background-color: #1c4738e2 !important;
    color: white !important;
  }
  @media (max-width: 768px) {
    position: relative;
    width: 4rem;
  }
}

.header__icon {
  font-size: 24px;
}

.header__heading {
  color: white !important;
  font-size: 1.2em;
  text-align: center;
  flex-grow: 1;
  padding-right: 2.5rem;
  font-weight: 500;

  @media (max-width: 768px) {
    width: 5rem;
    padding-right: 9rem;
  }
}



